<?xml version="1.0"?>
<config>
    <modules>
        <Codilar_Gst>
            <version>1.0.5</version>
        </Codilar_Gst>
    </modules>
    <frontend>
        <routers>
            <codgst>
                <use>standard</use>
                <args>
                    <module>Codilar_Gst</module>
                    <frontName>gst</frontName>
                </args>
            </codgst>
        </routers>
        <layout>
            <updates>
                <codilargst>
                    <file>codilar_gst.xml</file>
                </codilargst>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <codilar_gst>
                    <file>codilar_gst.xml</file>
                </codilar_gst>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <codilar_gst>
                <class>Codilar_Gst_Helper</class>
            </codilar_gst>
        </helpers>
        <blocks>
            <codilar_gst>
                <class>Codilar_Gst_Block</class>
            </codilar_gst>
            <adminhtml>
                <rewrite>
                    <sales_order_view_items>Codilar_Gst_Block_Sales_Order_View_Items</sales_order_view_items>
                </rewrite>
                <rewrite>
                    <sales_order_invoice_view_items>Codilar_Gst_Block_Sales_Order_Invoice_View_Items</sales_order_invoice_view_items>
                </rewrite>
                <rewrite>
                    <report_sales_tax_grid>Codilar_Gst_Block_Report_Sales_Tax_Grid</report_sales_tax_grid>
                    <report_sales_sales_grid>Codilar_Gst_Block_Report_Sales_Sales_Grid</report_sales_sales_grid>
                </rewrite>
                <rewrite>
                    <sales_order_totals_tax>Codilar_Gst_Block_Sales_Order_Tax</sales_order_totals_tax>
                </rewrite>
            </adminhtml>
            <tax>
                <rewrite>
                    <checkout_tax>Codilar_Gst_Block_Checkout_Tax</checkout_tax>
                </rewrite>
                <rewrite>
                    <checkout_grandtotal>Codilar_Gst_Block_Checkout_Grandtotal</checkout_grandtotal>
                </rewrite>
                <rewrite>
                    <sales_order_tax>Codilar_Gst_Block_Sales_Customer_Tax</sales_order_tax>
                </rewrite>
            </tax>
        </blocks>
        <models>
            <codilar_gst>
                <class>Codilar_Gst_Model</class>
            </codilar_gst>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Codilar_Gst_Model_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_items_invoice_default>Codilar_Gst_Model_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                </rewrite>
            </sales>
            <tax>
                <rewrite>
                    <sales_pdf_grandtotal>Codilar_Gst_Model_Order_Pdf_Total_Default</sales_pdf_grandtotal>
                </rewrite>
            </tax>
            <tax_resource>
                <rewrite>
                    <report_collection>Codilar_Gst_Model_Resource_Report_Collection</report_collection>
                    <report_tax_createdat>Codilar_Gst_Model_Resource_Report_Tax_Createdat</report_tax_createdat>
                </rewrite>
            </tax_resource>
            <sales_resource>
                <rewrite>
                    <report_order_collection>Codilar_Gst_Model_Resource_Report_Order_Collection</report_order_collection>
                    <report_order_createdat>Codilar_Gst_Model_Resource_Report_Order_Createdat</report_order_createdat>
                </rewrite>
            </sales_resource>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <gst_values_add>
                        <type>singleton</type>
                        <class>codilar_gst/observer</class>
                        <method>gstAdd</method>
                    </gst_values_add>
                </observers>
            </sales_order_place_after>
            <salesrule_validator_process>
                <observers>
                    <gst_product_tax_class_set>
                        <type>singleton</type>
                        <class>codilar_gst/observer</class>
                        <method>gstProductTaxClassSet</method>
                    </gst_product_tax_class_set>
                </observers>
            </salesrule_validator_process>
        </events>
        <resources>
            <gst_setup>
                <setup>
                    <module>Codilar_Gst</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </gst_setup>
            <gst_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gst_write>
            <gst_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gst_read>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <gstid><to_order>*</to_order></gstid>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <gstid><to_order>*</to_order></gstid>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <gstid><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></gstid>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <gstid><to_quote_address>*</to_quote_address></gstid>
            </sales_convert_order_address>
            <customer_address>
                <gstid><to_quote_address>*</to_quote_address></gstid>
            </customer_address>
            <checkout_onepage_billing>
                <gstid><to_customer>*</to_customer></gstid>
            </checkout_onepage_billing>
        </fieldsets>
    </global>
    <adminhtml>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <gst_category_add_tab>
                        <type>singleton</type>
                        <class>codilar_gst/observer</class>
                        <method>gstCategoryAddTab</method>
                    </gst_category_add_tab>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_prepare_save>
                <observers>
                    <gst_category_save_after>
                        <type>singleton</type>
                        <class>codilar_gst/observer</class>
                        <method>gstCategorySaveAfter</method>
                    </gst_category_save_after>
                </observers>
            </catalog_category_prepare_save>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <gst_options translate="title">
                                            <title>Custom Configuration Section</title>
                                            <sort_order>100</sort_order>
                                        </gst_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>